{% macro draw_author_name() %}
    <a href="/person/530">Жагорина Ксения Андреевна</a>
{% endmacro %}


{% macro draw_author_contacts() %}


<ul class="list-unstyled">
    <li><i class="fa fa-fw fa-odnoklassniki fa-colored"></i><a href="https://ok.ru/ksenia.zhagorina"> https://ok.ru/ksenia.zhagorina</a></li>
    <li><i class="fa fa-fw fa-vk fa-colored"></i><a href="https://vk.com/kzhagorina"> https://vk.com/kzhagorina</a></li>
    <li><i class="fa fa-fw fa-telegram fa-colored"></i> <a title="Telegram" href="tg://resolve?domain=KseniaZhagorina">KseniaZhagorina</a></li>
    <li><i class="fa fa-fw fa-whatsapp fa-colored"></i> <a title="WhatsApp" href="#" onclick="window.open(atob('aHR0cHM6Ly93YS5tZS83OTkyMDAwOTU5NA=='));"> WhatsApp</a></li>
</ul>

{% endmacro %}