<!DOCTYPE html>
<html>
    <head>
        <title>{{person.name|default("...")}}</title>

        {% include 'include.html' %}

        <meta name="viewport" content="width=device-width, initial-scale=1">


        <style>
            .img-person {
                max-width: 200px;
                max-height: 320px;
            }
        </style>

        <style>

        .source-content:not(.in) {
            min-height: 4.25em;
            height: 4.25em;
            display: block;
            overflow: hidden;
        }

        </style>

        {% import 'person_snippet.html' as ps %}
        {% import 'photo_carousel.html' as pc %}
        {% import 'source.html' as src %}
        {% import 'yandex_metrika.html' as metrika %}

        {{ ps.draw_person_opengraph(person, person_ctx) }}

        {{ ps.draw_person_meta(person, person_ctx) }}

        {{ metrika.common_counter(user) }}
        {{ metrika.goals() }}
    </head>
    <body>
        {% set privacy = person_ctx.privacy %}
        {% set sources_on_page = [] %}
        <div class="container">
            <h1>{{person.name}}</h1>
            <div class="row">
                <div class="col-sm-1 col-sm-push-11">
                    <div class="btn-group btn-group-vertical pull-right" style="z-index:1">
                        {{ ps.draw_tree_button(person, person_ctx) }}
                    </div>
                </div>
                <div class="col-sm-7 col-sm-pull-1">
                    <div class="media-left">
                        {{ ps.draw_person_photo(person, person_ctx, lazy=false) }}
                    </div>

                    <div class="media-body">
                        {{ ps.draw_short_person_info(person, privacy) }}

                        <div>
                        {% set person_sources = privacy.sources(person.sources) %}
                        {% if person_sources %}
                        Источники:
                        <p class="small">

                            {% for s in person_sources %}
                                {% set _ = sources_on_page.append(s) %}
                                {{ src.draw_source_link(s, sources_on_page|length, person_ctx) }}
                                </br>
                            {% endfor %}
                        </p>
                        {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-sm-pull-1">
                    <h4>Семья</h4>
                    {{ ps.draw_person_family(person) }}
                </div>

            </div>

            <h3>События</h3>
            {% if privacy.is_access_to_events_denied() %}
                <p class="text-secondary">
                {% if user and user.is_authenticated() %}
                Подробная информация о событиях доступна только ближайшим родственникам.
                {% else %}
                Подробная информация о событиях скрыта настройками приватности.
                {% endif %}
            {% else %}
                {% set person_events = privacy.events(person.events) %}
                {% if person_events %}
                    {% for e in person_events %}
                        <div class="row">

                            <div class="col-sm-2">
                            {{e.date|default('?', true)}}
                            {% if e.photo %}
                            {% set event_carousel_id = 'carousel-for-event-' ~ loop.index %}
                            <p>
                                <a href="#" data-toggle="modal" data-target="#carousel-for-event-{{loop.index}}">
                                    <img
                                         src="{{url_for('static', filename=person_ctx.files_dir+'/'+e.photo.path)}}"
                                         style="width:100%;"
                                         class="img-rounded img-fluid"
                                         alt="{{e.photo.title|default('')}}"
                                    />
                                </a>
                            </p>

                            {% endif %}
                            </div>

                            <div class="col-sm-6">
                            <strong>{{e.head}}</strong>
                            <p>
                            {% for member in e.members %}
                               {{ ps.draw_related_person(member) }} {% if loop.index+1 == e.members|length %},{% else %}<br/>{% endif %}
                            {% endfor %}

                            {% set e_comment=privacy.comment(e.comment) %}
                            {% if e_comment %}
                                {% for line in e_comment.split('\n') %}
                                    {{line|urlize(40, nofollow=true)}}<br/>
                                {% endfor %}
                            {% endif %}

                            {% if e.place %}
                            Место: {{privacy.address(e.place)}}<br/>
                            {% endif %}
                            </p>
                            </div>

                            <div class="col-sm-4">
                            {% set event_sources = privacy.sources(e.sources) %}
                            {% if event_sources %}
                            Источники:
                            <p class="small">
                                {% for s in event_sources %}
                                    {% set _ = sources_on_page.append(s) %}
                                    {{ src.draw_source_link(s, sources_on_page|length, person_ctx) }}
                                    </br>
                                {% endfor %}
                            </p>
                            {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}

            {% if sources_on_page %}
            <h3>Источники</h3>
            <div class="row">
                    {% for s in sources_on_page %}
                        <div class="col-sm-6">
                        {{src.draw_source_content(s, loop.index, person_ctx, privacy)}}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}


        </div>

        <div id="carousels">
            {% if person.photos %}
                {{ pc.draw_photo_carousel('carousel-for-'+person.uid, person.photos, privacy) }}
            {% endif %}

            {% for e in person_events %}
                {% if e.photos %}
                    {{ pc.draw_photo_carousel('carousel-for-event-' ~ loop.index, e.photos, privacy) }}
                {% endif %}
            {% endfor %}
        </div>

        <script>
            $(document).ready(function() {
                initCarouselFullScreenIn($('body'));
            });
        </script>

        <script>
            // Выставляем ссылки на select-person
            $(document).ready(function(){
                $('a.select-person').each(function(i, a){
                    var person_uid = $(a).attr('person-uid');
                    a.href = '/person/'+person_uid;
                });
            });
        </script>
    </body>

</html>