<!DOCTYPE html>

<html>
	<head>
        <title>404 — Страница не найдена</title>


        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Запрошенная страница не существует или была удалена"/>


        <link rel="icon" href="/static/img/favicon.png">

    </head>
    <body>
        <div class="container">
            <h2>Такой страницы не существует</h2>
            {% if context.data.trees|length > 0 %}
                <p>Попробуйте поискать здесь:</p>
                <ul>
                    {% for tree in context.data.trees.values() %}
                    <li><a href="/{{tree.uid}}">{{tree.name}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </body>
</html>