<!DOCTYPE html>

<html>
	<head>
        <title>404 — Страница не найдена</title>
        
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Запрошенная страница не существует или была удалена"/>
        
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/dragscroll.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="/static/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        
        <link rel="icon" href="/static/favicon.png">
        <link rel="stylesheet" type="text/css" href="/static/css/fa-colored.css">
        <link rel="stylesheet" type="text/css" href="/static/css/collapsed-more-less.css">
    </head>
    <body>
        <div class="container">
            <h2>Такой страницы не существует</h2>
            {% if context.data.trees|length > 0 %}
                <p>Попробуйте поискать здесь:</p>
                <ul>
                    {% for tree in context.data.trees.values() %}
                    <li><a href="/{{tree.uid}}">{{tree.name}}</a></li>
                    {% endfor %}
                </ul>    
            {% endif %}
        </div>    
    </body>
</html>    