<!DOCTYPE html>

<html>
	<head>
        <title>403 — Нет доступа</title>
        
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Иформация скрыта настройками приватности"/>
        
        
        <link rel="icon" href="/static/favicon.png">

    </head>
    <body>
        <div class="container">
            <h2>Информация скрыта настройками приватности</h2>
            <p>Некоторая информация доступна только для зарегистрированных пользователей или ближайших роственников. Если вы не зарегистрированы, попробуйте войти или связаться с автором сайта через <a href="/lk">личный кабинет.</a></p>

            {% if context.data.trees|length > 0 %}
                <p>Или вы можете посмотреть что-нибудь еще:</p>
                <ul>
                    {% for tree in context.data.trees.values() %}
                    <li><a href="/{{tree.uid}}">{{tree.name}}</a></li>
                    {% endfor %}
                </ul>    
            {% endif %}
        </div>    
    </body>
</html>    