<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/dragscroll.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/bootstrap.overrided.css">
<script src="/static/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/css/font-awesome.min.css">

<link rel="icon" href="/static/img/favicon.png">

<link rel="stylesheet" type="text/css" href="/static/css/carousel-full-screen.css">
<link rel="stylesheet" type="text/css" href="/static/css/fa-colored.css">
<script type="text/javascript" src="/static/js/carousel-full-screen.js"></script>
<script type="text/javascript" src="/static/js/lazy-content.js"></script>