{% import 'author_contacts.html' as author %}

{% macro draw_navbar(context) %}

<nav class="navbar navbar-default" style="background-color: #d8ebd1;" >
    <div class="navbar-header">
      <!-- Кнопка «Гамбургер» отображается только в мобильном виде (предназначена для открытия основного содержимого Navbar) -->
      <a href="#" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-other-items">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </a>

      <div class="navbar-brand">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-grain"></span>
                {% if context.tree %}
                     {{context.tree.name}}
                {% else %}
                     Открыть древо
                {% endif %}
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for tree in context.data.trees.values() %}
                    <li><a href="/{{tree.uid}}">{{tree.name}}</a></li>
                {% endfor %}
              </ul>
      </div>


    </div>
    <div class="collapse navbar-collapse" id="navbar-other-items">


        <ul class="nav navbar-nav navbar-right pull-right">
          <li>
              <form class="navbar-form" role="search" action="/search">
                  <div class="form-group input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input type="text" class="form-control" placeholder="Фамилия Имя Отчество" name="text"/>
                  </div>
              </form>
          </li>
          <li><a href="#" data-toggle="modal" data-target="#contacts"><span class="glyphicon glyphicon-envelope"></span> Написать автору</a></li>
          <li><a href="/faq.html">О сайте</a></li>
        </ul>
    </div>
</nav>

<!--Author contacts-->
<div id="contacts" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Автор: {{ author.draw_author_name(context.data.author) }} </h4>
      </div>
      <div class="modal-body">
        <p>
            {{ author.draw_author_contacts(context.data.author) }}
        </p>
      </div>
    </div>

  </div>
</div>

{% endmacro %}