{% macro draw_related_person(rel) %}

    {{rel.role}}: 
    {% if rel.person %}
    <a class="select-person-{{rel.person.uid}}">{{rel.person.name|default("...", true)}}</a>
    {% else %}
    Нет данных
    {% endif %}

{% endmacro %}

{% macro draw_person_snippet(person, privacy) %}

	<div class="panel {{person.choose_by_sex('panel-info', 'panel-danger', 'panel-default')}}">
		<div class="panel-heading" data-toggle="collapse" data-target="#snippet-body-{{person.uid}}">
			<span class="panel-title">{{person.name}}</span>
		</div>
		
		<div class="panel-body panel-collapse collapse in" id="snippet-body-{{person.uid}}">
			<div class="row">
				<div class="col-md-6 media">
					<div class="media-left">
                        {% if person.photo %}
						<a href="#" data-toggle="modal" data-target="#carousel-for-{{person.uid}}">
                            <img 
                                src="/static/{{person.choose_by_sex('BlankMale.jpg', 'BlankFemale.jpg')}}"
                                lazy-src="/static/tree/files/{{person.photo}}"
                                class="img-fluid img-rounded" style="max-width: 160px; max-height: 160px;"/>
                        </a>
                        {% else %}
                            <img 
                                src="/static/{{person.choose_by_sex('BlankMale.jpg', 'BlankFemale.jpg')}}"
                                class="img-fluid img-rounded" style="max-width: 160px; max-height: 160px;"/>
                                 
                        {% endif %}         
					</div>	
						
					<div class="media-body">
						<ul class="list-unstyled">
							{% if person.birth %}
							<li>Рождение: 
								{{person.birth.date|default("?", true)}}
								{% if person.birth.place %} , {{privacy.address(person.birth.place)}} {% endif %}
							</li>
							{% endif %}
							{% if person.death %}
							<li>Смерть: {{person.death.date|default("?", true)}}
										{% if person.death.place %} , {{privacy.address(person.death.place)}} {% endif %}
							</li>
                            {% endif %}
                            {% if person.age() %}
                            <li>{% if person.is_alive() %} Возраст: {% else %} Продолжительность жизни: {% endif %}
                                {{person.age()}}
                            </li>       
							{% endif %}
							{% if person.residence %}
							<li>Место жительства: {{privacy.address(person.residence)}}</li>
							{% endif %}
                            {% set comment=privacy.comment(person.comment) %}
                            {% if comment %}
                            <li>Комментарий:<br/>
 							    {% for line in comment.split('\n') %}
 									{{line|urlize(40, nofollow=true)}}<br/>
 								{% endfor %}
 						    </li>
                            {% endif %}
						</ul>
					</div>		
				</div>	
				<div class="col-md-6">
					<ul class="list-unstyled">
						<li>{{ draw_related_person(person.father) }}</li>
						<li>{{ draw_related_person(person.mother) }}</li>
						</li>
						{% for family in person.families %}
							{% if family.spouse and family.spouse.person %}
							<li>{{ draw_related_person(family.spouse) }}
								{% if family.children %}
								<ul>
									{% for child in family.children %}
									<li>{{ draw_related_person(child) }}</li>
									{% endfor %}
								</ul>
								{% endif %}
							</li>
                            {% else %}
								{% for child in family.children %}
								<li>{{ draw_related_person(child) }}</li>
								{% endfor %}
							{% endif %}
						{% endfor %}	
					</ul>
				</div>				
			</div>
		</div>
	</div>
{% endmacro %}