{% macro draw_related_person(rel) %}

    {{rel.role}}:
    {% if rel.person %}
    <a class="select-person" person-uid="{{rel.person.uid}}">{{rel.person.name|default("...", true)}}</a>
    {% else %}
    Нет данных
    {% endif %}

{% endmacro %}

{% macro draw_person_photo(person, person_ctx, lazy=true) %}
    {% if person.photo %}
    <a href="#" data-toggle="modal" data-target="#carousel-for-{{person.uid}}">
        <img class="img-fluid img-rounded img-person"
            {% if lazy %}
            src="{{url_for('static', filename=person.choose_by_sex('img/BlankMale.jpg', 'img/BlankFemale.jpg'))}}"
            lazy-src="{{url_for('static', filename=person_ctx.files_dir+'/'+person.photo.path)}}"
            {% else %}
            src="{{url_for('static', filename=person_ctx.files_dir+'/'+person.photo.path)}}"
            {% endif %}

            alt="{{person.name|default('')}}"
            />
    </a>
    {% else %}
        <img
            src="{{url_for('static', filename=person.choose_by_sex('img/BlankMale.jpg', 'img/BlankFemale.jpg'))}}"
            class="img-fluid img-rounded img-person"
            alt="no photo"
            title="no photo"
        />

    {% endif %}
{% endmacro %}

{% macro draw_person_preview_photo(person, person_ctx, lazy=true) %}
    {% if person.photo %}
        <img class="img-fluid img-rounded img-person"
                {% if lazy %}
                src="{{url_for('static', filename=person.choose_by_sex('img/BlankMale.jpg', 'img/BlankFemale.jpg'))}}"
                lazy-src="{{url_for('static', filename=person_ctx.files_dir+'/'+person.photo.path)}}"
                {% else %}
                src="{{url_for('static', filename=person_ctx.files_dir+'/'+person.photo.path)}}"
                {% endif %}

                alt="{{person.name|default('')}}"
        />
    {% else %}
        <img
            src="{{url_for('static', filename=person.choose_by_sex('img/BlankMale.jpg', 'img/BlankFemale.jpg'))}}"
            class="img-fluid img-rounded img-person"
            alt="no photo"
            title="no photo"
        />

    {% endif %}
{% endmacro %}

{% macro draw_short_person_info(person, privacy, show_comment=true) %}
    <ul class="list-unstyled">
        {% if person.birth %}
        <li>Рождение:
            {{person.birth.date|default("?", true)}}
            {% if person.birth.place %} , {{privacy.address(person.birth.place)}} {% endif %}
        </li>
        {% endif %}
        {% if person.death %}
        <li>Смерть: {{person.death.date|default("?", true)}}
                    {% if person.death.place %} , {{privacy.address(person.death.place)}} {% endif %}
        </li>
        {% endif %}
        {% if person.age() %}
        <li>{% if person.is_alive() %} Возраст: {% else %} Продолжительность жизни: {% endif %}
            {{person.age()}}
        </li>
        {% endif %}
        {% if person.residence %}
        <li>Место жительства: {{privacy.address(person.residence)}}</li>
        {% endif %}
        {% if person.main_occupation %}
        <li>Основное занятие: {{person.main_occupation}}</li>
        {% endif %}
    </ul>
    {% if show_comment %}
    {% set comment=privacy.comment(person.comment) %}
    {% if comment %}
    <p>
        {% for line in comment.split('\n') %}
            {{line|urlize(40, nofollow=true)}}<br/>
        {% endfor %}
    </p>
    {% endif %}
    {% endif %}

{% endmacro %}


{% macro draw_person_family(person) %}
   <ul class="list-unstyled">
        <li>{{ draw_related_person(person.father) }}</li>
        <li>{{ draw_related_person(person.mother) }}</li>
        {% if person.parent_family and person.parent_family.children %}
        <li>
            <ul>
            {% for child in person.parent_family.children %}
            <li>{{ draw_related_person(child) }}</li>
            {% endfor %}
            </ul>
        </li>
        {% endif %}

        {% for family in person.other_parent_families %}
            {% if family.father %}
            <li>{{ draw_related_person(family.father) }}<li>
            {% endif %}
            {% if family.mother %}
            <li>{{ draw_related_person(family.mother) }}<li>
            {% endif %}

            {% if family.children %}
            <li>
                <ul>
                    {% for child in family.children %}
                    <li>{{ draw_related_person(child) }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
        {% endfor %}
        <li><br/></li>

        {% for family in person.own_families %}
            {% if family.spouse and family.spouse.person %}
            <li>{{ draw_related_person(family.spouse) }}<li>
            {% endif %}
            {% if family.children %}
            <li>
                <ul>
                    {% for child in family.children %}
                    <li>{{ draw_related_person(child) }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro draw_tree_button(person, person_ctx, right=true) %}
    {% if person_ctx.trees|length > 0 %}

        <div class="btn-group">
            <a type="button" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
            Древо <span class="caret"></span></a>
            <ul class="dropdown-menu {% if right %} pull-left {% else %} pull-right {% endif %}" role="menu">
                {% for tree in person_ctx.trees %}
                <li><a href="/{{tree.uid}}#{{person.uid}}">{{tree.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}


{% macro draw_private_person_snippet(user) %}
    <div class="panel panel-default">
		<div class="panel-heading">
            <a data-toggle="collapse" href="#" class="close">&times;</a>
			<h3 class="panel-title">...</h3>
		</div>

		<div class="panel-body">
			<div class="row">
                <div class="col-sm-11">
                    <p class="text-secondary">
                    {% if user and user.is_authenticated() %}
                    Информация об этом человеке доступна только ближайшим родственникам.
                    {% else %}
                    Информация скрыта настройками приватности.
                    {% endif %}
                </div>
			</div>
		</div>
	</div>
{%endmacro %}


{% macro draw_person_snippet(person, person_ctx) %}

    {% set privacy = person_ctx.privacy %}
	<div class="panel {{person.choose_by_sex('panel-info', 'panel-danger', 'panel-default')}}">
		<div class="panel-heading">
            <a data-toggle="collapse" href="#" class="close">&times;</a>
			<h3 class="panel-title">{{person.name|default('...')}}</h3>


		</div>

		<div class="panel-body">
			<div class="row">
                <div class="col-sm-1 col-sm-push-11">
                    <div class="btn-group btn-group-vertical pull-right" style="z-index:1;">
                        {{ draw_tree_button(person, person_ctx) }}
                        <a  type="button" class="btn btn-default pull-right" href="/person/{{person.uid}}" target="blank">Биография</a>
                    </div>
                </div>
				<div class="col-sm-6 col-sm-pull-1">
					<div class="media-left">
                        {{ draw_person_photo(person, person_ctx) }}
					</div>
					<div class="media-body">
						{{ draw_short_person_info(person, privacy) }}
					</div>
				</div>
				<div class="col-sm-5 col-sm-pull-1">
					{{ draw_person_family(person) }}
				</div>

			</div>
		</div>
	</div>
{% endmacro %}


{% macro draw_short_description(person, privacy) -%}
    (род. {% if person.birth -%}
        {{person.birth.date|default("??.??.????", true)}}{% if person.birth.place %}, {{privacy.address(person.birth.place)}} {% endif %}
    {%- else -%}
        ??.??.????
    {%- endif -%}
    {%- if not person.is_alive() %} &mdash; ум. {% if person.death -%}
            {{person.death.date|default("??.??.????", true)}}{% if person.death.place %}, {{privacy.address(person.death.place)}} {% endif %}{% if person.age() %} в возрасте {{person.age()}} {% if person.age()%10 == 1 %}года{% else %}лет{% endif %}{% endif %}
        {%- else -%}
            ??.??.????
        {%- endif -%}
    {%- elif person.age() -%}
        , {{person.age()}} {% if person.age()%10==1%}год{% elif person.age()%10 <= 3 and person.age()%10 > 0 %}года{% else %}лет{% endif %}
    {%- endif -%}
    )
    {%- if person.main_occupation %} {{person.main_occupation }} {%- endif -%}
{%- endmacro %}

{% macro draw_person_opengraph(person, person_ctx) %}
    {% set privacy = person_ctx.privacy %}
    <meta property="og:type" content="profile"/>

    <meta property="og:image" content="
    {%- if person.photo -%}
        {{url_for('static', _external=True, filename=person_ctx.files_dir+'/'+person.photo.path)}}
    {%- else -%}
        {{url_for('static', _external=True, filename=person.choose_by_sex('img/BlankMale.jpg', 'img/BlankFemale.jpg'))}}
    {%- endif -%}
    "/>
    <meta property="og:url" content="{{url_for('biography', person_uid=person.uid, _external=True)}}"/>
    <meta property="og:title" content="{{person.name|default('...')}}"/>
    <meta property="og:description" content="{{draw_short_description(person, privacy)}}"/>
{% endmacro %}

{% macro draw_person_meta(person, person_ctx) %}
    {% set privacy = person_ctx.privacy %}
    <meta name="description" content="{{person.name|default('...')}} {{draw_short_description(person, privacy)}}"/>
{% endmacro %}