{% macro draw_related_person(rel) %}

    {{rel.role}}: 
    {% if rel.person %}
    <a class="select-person-{{rel.person.uid}}">{% if rel.person.name %} {{rel.person.name}} {% else %} ... {% endif %}</a>
    {% else %}
    Нет данных
    {% endif %}

{% endmacro %}

{% macro draw_person_snippet(person) %}

	<div class="panel {{person.choose_by_sex('panel-info', 'panel-danger', 'panel-default')}}">
		<div class="panel-heading" data-toggle="collapse" data-target="#snippet-body-{{person.uid}}">
			<span class="panel-title">{{person.name}}</span>
		</div>
		
		<div class="panel-body panel-collapse collapse in" id="snippet-body-{{person.uid}}">
			<div class="row">
				<div class="col-md-6 media">
					<div class="media-left">
						<a href="#" class='select-person-{{person.uid}}'><img 
                            {% if person.photo %} src="/static/tree/tr_tree.files/{{person.photo}}" 
                            {% else %} src="/static/{{person.choose_by_sex('BlankMale.jpg', 'BlankFemale.jpg')}}" 
                            {% endif %} 
                            class="img-fluid img-rounded" style="max-width: 160px; max-height: 160px;"/>
                        </a>
					</div>	
						
					<div class="media-body">
						<ul class="list-unstyled">
							{% if person.birth %}
							<li>Рождение: 
								{% if person.birth.date %} {{person.birth.date}} {% else %} ? {% endif %}
								{% if person.birth.place %} ,{{person.birth.place}} {% endif %}
							</li>
							{% endif %}
							{% if person.death %}
							<li>Смерть: {% if person.death.date %} {{person.death.date}} {% else %} ? {% endif %} 
										{% if person.death.place %} ,{{person.death.place}} {% endif %}
							</li>
							{% endif %}
							{% if person.residence %}
							<li>Место жительства: {{person.residence}}</li>
							{% endif %}								
						</ul>
					</div>		
				</div>	
				<div class="col-md-6">
					<ul class="list-unstyled">
						<li>{{ draw_related_person(person.father) }}</li>
						<li>{{ draw_related_person(person.mother) }}</li>
						</li>
						{% for family in person.families %}
							{% if family.spouse and family.spouse.person %}
							<li>{{ draw_related_person(family.spouse) }}
								{% if family.children %}
								<ul>
									{% for child in family.children %}
									<li>{{ draw_related_person(child) }}</li>
									{% endfor %}
								</ul>
								{% endif %}
							</li>
                            {% else %}
								{% for child in family.children %}
								<li>{{ draw_related_person(child) }}</li>
								{% endfor %}
							{% endif %}
						{% endfor %}	
					</ul>
				</div>				
			</div>
		</div>
	</div>
{% endmacro %}