{% macro draw_photo_carousel(carousel_id, images, privacy) %}
    <div class="modal carousel full-screen" id="{{carousel_id}}" tabindex="-1" role="dialog" data-pause='true'
        style="position: fixed; top: 0px; left: 0px; width:100%; height:100%; display: none;">
       
        {% if images|length > 1 %}
            <!-- Indicators -->
            <ol class="carousel-indicators">
            {% for _ in images %}
              <li data-target="#{{carousel_id}}" data-slide-to="{{loop.index0}}" {% if loop.index0 == 0 %} class="active" {% endif %}></li>
            {% endfor %}  
            </ol>
        {% endif %}    

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
        {% for image in images %}
          <div class="item {% if loop.index0 == 0 %} active {% endif %}">
            <div class="my-img-container"> 
                <img 
                    src="{{url_for('static', filename='BlankMale.jpg')}}"
                    lazy-src="{{url_for('static', filename='tree/files/'+image.path)}}" 
                    class="img-fluid img-rounded"
                    alt="{{image.title|default('')}}"
                />
            </div>
            {% set comment=privacy.comment(image.comment) %}
            {% if image.title or comment %}
            <div class="my-img-caption"><div>
                <h3>{{ image.title }}</h3>
                {% if comment %}
                <p>
                    {% for line in comment.split('\n') %}
                        {{line|urlize(40, nofollow=true)}}<br/>
                    {% endfor %}
                </p>
                {% endif %}
            </div></div>
           {% endif %}
          </div>
          
        {% endfor %}
        </div>

        {% if images|length > 1 %}
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#{{carousel_id}}" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#{{carousel_id}}" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        {% endif %}    
            
        <!-- Close and zoom controls -->
        <div class="carousel-extra-controls">
            <a href="#" class="close" data-dismiss="modal" aria-hidden="true">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <span class="sr-only">Close</span>
            </a>
            
            <a href="#" class ="close" aria-hidden="true" onclick="window.open($(this).closest('.carousel').find('.item.active').find('img')[0].src);">
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="sr-only">Zoom</span>
            </a>                 
        </div>
            
    </div>
{% endmacro %}
