<html>
	<head>
        <title>Полезные источники</title>


        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Где можно искать информацию о предках в интернете. Ссылки на полезные ресурсы."/>

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/dragscroll.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="/static/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <link rel="icon" href="/static/img/favicon.png">
        <link rel="stylesheet" type="text/css" href="/static/css/fa-colored.css">
        <link rel="stylesheet" type="text/css" href="/static/css/collapsed-more-less.css">
    </head>
    <body>
        <div class="container">
            <h2>Полезные источники</h2>

              {% for block in content %}
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse{{loop.index}}">{{block.title}}</a>
                      </h4>
                    </div>
                    <div id="collapse{{loop.index}}" class="panel-collapse collapse">
                      <div class="panel-body">
                        <ul class="list-unstyled">
                          {% for line in block.children %}
                          <li>{{line|urlize()}}</li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
            {% endfor %}

        </div>
    </body>
</html>