<html>
	<head>
        <title>Полезные источники</title>
        
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Где можно искать информацию о предках в интернете. Ссылки на полезные ресурсы."/>
        
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/dragscroll.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="/static/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        
        <link rel="icon" href="/static/favicon.png">
        <link rel="stylesheet" type="text/css" href="/static/css/fa-colored.css">
        <link rel="stylesheet" type="text/css" href="/static/css/collapsed-more-less.css">
    </head>
    <body>
        <div class="container">
            <h2>Полезные источники</h2>
            
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Первая Мировая Война, 1914–1918 гг.</a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul class="list-unstyled">
                      <li><a href="https://1914.svrt.ru">https://1914.svrt.ru</a></li>
                      <li><a href="https://gwar.mil.ru">https://gwar.mil.ru</a></li>
                    </ul>  
                  </div>
                </div>
              </div>
              
              
              <!-- 2 панель -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2">Политические репрессии 1937-1939 гг.</a>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul class="list-unstyled">
                      <li><a href="https://www.memo.ru">https://www.memo.ru</a> Мемориал - памяти жертв политических репрессий</li>
                    </ul>  
                  </div>
                </div>
              </div>
              
              
              <!-- 2 панель -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Великая Отечественная Война, 1941-1945 гг.</a>
                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul class="list-unstyled">
                      <li><a href="https://obd-memorial.ru">https://obd-memorial.ru</a> ОБД-Мемориал - погибшие и пропавшие без вести</li>
                      <li><a href="http://www.podvignaroda.mil.ru">http://www.podvignaroda.mil.ru</a> Подвиг Народа - награжденные</li>
                      <li><a href="https://www.pobediteli.ru">https://www.pobediteli.ru</a> Победители - ветераны</li>
                    </ul>  
                  </div>
                </div>
              </div>
              
  
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Генеалогические сайты</a>
                  </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul class="list-unstyled">
                      <li><a href="http://rosgenea.ru/">http://rosgenea.ru/</a> бесплатно и с поиском</li>
                      <li><a href="http://www.myheritage.com">http://www.myheritage.com</a> платный, но довольно популярный. есть дополнительные материалы</li>
                      <li><a href="https://www.familyspace.ru/">https://www.familyspace.ru/</a> нужна регистрация и поиск не очень</li>
                    </ul>  
                  </div>
                </div>
              </div>
              
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Архивы</a>
                  </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul class="list-unstyled">
                      <li><a href="https://spbarchives.ru/infres">https://spbarchives.ru</a> Архивы Санктпетербурга. Поиск по описям. Можно получить доступ к оцифрованным документам онлайн</li>
                      <li><a href="https://pokolenia.permkrai.ru/">https://pokolenia.permkrai.ru</a> Поколения Пермского Края. Оцифрованные метрические книги и ревизские сказки</li>
                    </ul>  
                  </div>
                </div>
              </div>  
              
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Библиотеки и книжные издания</a>
                  </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul class="list-unstyled">
                      <li><a href="http://www.petergen.com/vse-knigi-genealogia.shtml">http://www.petergen.com/vse-knigi-genealogia.shtml</a> Большое количество различных генеалогических изданий. Есть поиск по фамилии, региону</li>
                      <li><a href="http://chigirin.narod.ru/book.html">http://chigirin.narod.ru/book.html</a> Справочники, паятные книжки и адрес-календари по губерниям</li>
                    </ul>  
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Поиск захоронений</a>
                  </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul class="list-unstyled">
                      <li><a href="http://сайт-памяти.рф">http://сайт-памяти.рф</a></li>
                      <li><a href="http://skorbim.com">http://skorbim.com</a></li>
                      <li><a href="https://archive-ural.ru">https://archive-ural.ru</a> Захоронения на Урале</li>
                    </ul>  
                  </div>
                </div>
              </div>                  
        </div>    
    </body>
</html>