<!DOCTYPE html>

<html>
	<head>
        <title>{{context.tree.name}}</title>

		{% include 'include.html' %}

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Родословное древо Жагориных, Черепановых, Мотыревых, Фаренюков..."/>

        <meta property="og:type" content="website" />
        <meta property="og:image" content="{{url_for('static', filename='preview.tree.png', _external=True)}}"/>
        <meta property="og:image" content="{{url_for('tree', tree_name=context.tree.uid, _external=True)}}"/>
        <meta property="og:title" content="Мое родословие"/>
        <meta property="og:description" content="Родословное древо Жагориных, Черепановых, Мотыревых, Фаренюков..."/>

        <!-- for kzhagorina.pythonanywhere.com -->
        <meta name="yandex-verification" content="d3a78397fee01474" />
        <meta name="google-site-verification" content="_fxusGo2JDiaXDqMBG42ynY03ztFcFGlxpD3B6ekO9U" />

        <!-- for me-in-history.ru -->
        <meta name="yandex-verification" content="9ba16f31001dbf60" />
        <meta name="google-site-verification" content="iDCdSooX0ZTWF3yiT83810LrlhCQzJV_kOWf-X2Rkwk" />

        

		<style>
			.person-snippet {
				margin-bottom: 18px;
			}
            .person-snippet .panel {
                margin-bottom: 0px;
            }
			.person-snippet .panel-body {
				padding: 10px 15px 0px 15px;
				max-height: 180px;
				min-height: 180px;
				overflow-y: auto;
			}

			.person-snippet .panel-heading {
				padding: 5px 15px 5px 15px;
			}

            .person-snippet .img-person {
                max-width: 160px;
                max-height: 160px;
            }

			#hilighted-person {
			    position: absolute;
			    box-shadow: 0px 0px 50px #0000ff;
                border-radius: 10px;
			}

            .map-search-tag {
                position:absolute;
                z-index: -1;
            }
            body {
                padding: 0px;
            }

            #tree-container {
                position: absolute;
                overflow: auto;
                width: 100%;
                height: 100vh;
                cursor: -webkit-grab;
                padding-bottom: 220px;
            }
		</style>

		<script>

            function closeCurrentPersonSnippet() {
                var active = $('#snippets').find('.active');
                active.removeClass('active');
                active.hide();
            }
            
            // загружает информацию о персоне если она еще не загружена
            function loadPersonSnippet(person_uid) {
                
                if (!$('#snippets').find('#snippet-for-'+person_uid).length) {
                    $.ajax({url: 'ajax/person_snippet/{{context.tree.uid}}/'+person_uid,
                            success: function(content){
                                var snippet = $(content);
                                $('#snippets').append(snippet);
                                initCarouselFullScreenIn(snippet);
                                var carousel = snippet.find('.carousel');
                                $('#carousels').first().append(carousel);
                                snippet.find(".select-person").click(function(e) {
                                    e.preventDefault();
                                    selectPerson($(this));
                                });
                                snippet.find('a.close').click(function(e) {
                                    e.preventDefault();
                                    closeCurrentPersonSnippet();
                                    removeHilightPersonArea();
                                });
                            },
                            async: false});
                }
            }

		    // отображает информацию о персоне в блоке внизу страницы
			function viewPersonSnippet(person_uid) {
			    var snippet = $('#snippets').find('#snippet-for-'+person_uid).first();
                snippet.addClass('active');
                loadLazyContent(snippet);
                snippet.show();
			}
            
            // возвращает позицию блока персоны на изображении и его размер 
            function getPersonAreaPosition(person_uid) {
                var person_area = $('#tree-container .select-person[person-uid='+person_uid+']');
                var zero = $('#tree-img');
                if (!person_area.length) {
                    return null; // некоторые персоны могут не присутствовать в дереве
                }
                
                var left = person_area.position().left - zero.position().left;
				var top = person_area.position().top - zero.position().top;
                var width = person_area.width();
                var height = person_area.height();
                if (person_area[0].nodeName == 'g') {
                    var box = person_area[0].getBBox();
                    width = box.width;
                    height = box.height;
                }
                
                return {'left': left, 'top':top, 'width':width, 'height':height};
            }
                
                

            // фокусируется на выбранной персоне в дереве и подсвечивает ее
			function hilightPersonArea(person_uid) {
                var p = getPersonAreaPosition(person_uid);
                if (!p) {
                    return;
                }

                scrollTreeIfNeed(p.left, p.top, p.width, p.height);

				var h = $('#hilighted-person');
				h.css({'left': p.left+'px', 'top': p.top+'px', 'width': p.width+'px', 'height': p.height+'px'});
			}

            // убирает подсветку персоны в дереве
            function removeHilightPersonArea() {
                var h = $('#hilighted-person');
				h.css({'left': '0px', 'top': '0px', 'width': '0px', 'height': '0px'});
            }

            // скроллит дерево (если нужно) для того чтобы выбранный участок оказался на экране
            function scrollTreeIfNeed(left, top, width, height) {
                tree = $('#tree-container')
                var scrollTop = tree.scrollTop();
                var scrollLeft = tree.scrollLeft();

                var wWidth = tree.width();
                var wHeight = tree.height();
                var navHeight = $('#person-snippet-container').height();


                // если area целиком влазит в экран (и не скрыта нижней панелью) - скролллинг не нужен (ее и так видно)
                var padding = 10
                if (scrollLeft+padding < left && left+width+padding < scrollLeft+wWidth &&
                    scrollTop+padding < top && top+height+padding < scrollTop+wHeight-navHeight) {
                    return;
                }
                // позиция, которая будет в левом верхнем углу браузера
                tree.scrollLeft(left+width/2-wWidth/2);
                tree.scrollTop(top+height/2-(wHeight-navHeight)/2);
            }

            function selectPerson(link) {
                var person_uid = link.attr('person-uid');
                closeCurrentPersonSnippet();
                loadPersonSnippet(person_uid);
                viewPersonSnippet(person_uid);
				hilightPersonArea(person_uid);
                window.location.hash = person_uid;
            }

		</script>
		{% import 'person_snippet.html' as ps %}
        {% import 'photo_carousel.html' as pc %}
        {% import 'yandex_metrika.html' as metrika %}

        {{ metrika.common_counter(user) }}
        {{ metrika.goals() }}
    </head>
	<body>
    
        {% set tree = context.tree %}
        {% set persons_snippets = context.data.persons_snippets %}

        <div id="tree-container" class="dragscroll">
            {% if tree.img.endswith('.svg') %}
                <div id="tree-img">{{tree.map.svg_content | safe }}</div>
            {% else %}    
                <p>Невозможно отобразить дерево</p>
            {% endif %}
            
            <div id='hilighted-person'></div>


        </div>
        <nav id="person-snippet-container" >
        </nav>

        <nav class="navbar">
            <div class="navbar-header">
              <!-- Кнопка «Гамбургер» отображается только в мобильном виде (предназначена для открытия основного содержимого Navbar) -->
              <a href="#" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
              </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-right pull-right">
                  <li><a href="#" data-toggle="modal" data-target="#contacts"><span class="glyphicon glyphicon-envelope"></span> Написать автору</a></li>
                  <li><a href="/lk" target='_blank'><span class="glyphicon glyphicon-user"></span>
                  {% if user and user.is_authenticated() %} {{user.auth_info().me.first_name}} {% else %} Войти {% endif %}</a></li>
                </ul>
            </div>
        </nav>

        <!--Author contacts-->
        <div id="contacts" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Автор: <a href="/person/530">Жагорина Ксения Андреевна</a></h4>
              </div>
              <div class="modal-body">
                <p><ul class="list-unstyled">
                    <li><i class="fa fa-fw fa-odnoklassniki fa-colored"></i><a title="Odnoklassniki" href="https://ok.ru/ksenia.zhagorina"> https://ok.ru/ksenia.zhagorina</a></li>
                    <li><i class="fa fa-fw fa-vk fa-colored"></i><a title="Vkontakte" href="https://vk.com/kzhagorina"> https://vk.com/kzhagorina</a></li>
                    <li><i class="fa fa-fw fa-telegram fa-colored"></i> <a title="Telegram" href="tg://resolve?domain=KseniaZhagorina">KseniaZhagorina</a></li>
                    <li><i class="fa fa-fw fa-whatsapp fa-colored"></i> <a title="WhatsApp" href="#" onclick="window.open(atob('aHR0cHM6Ly93YS5tZS83OTkyMDAwOTU5NA=='));"> WatsApp</a></li>
                </ul></p>
              </div>
            </div>

          </div>
        </div>

        <div id="snippets">
            <!--сюда будут загружаться сниппеты через ajax-->
        </div>
        
        <div id="carousels">
            <!--сюда будут загружаться карусельки из сниппетов через ajax-->
        </div>
        
        <div id="links">
            <!--ссылки на страницы персон-->
            {% for person_uid, node in tree.map.nodes.items() %}
                {% set person = context.data.persons_snippets.get(person_uid) %}
                {% set person_ctx = context.person_context(person_uid) %}
                {% if person_ctx and not person_ctx.privacy.is_access_denied() %}
                    <div class="map-search-tag" style="top: 0px; left: px;"><a href="/person/{{person.uid}}" title="{{person.name}}"></a></div>
                {% endif %}
            {% endfor %}
        </div>

        <script>
            // Загружаем реальную картинку дерева вместо заглушки
            $(window).load(function(){
                var tree_container = $('#tree-container').first();
                loadLazyContent(tree_container);
                loadLazyContentSvg(tree_container);
            });

            // Эмулируем клик на персону, если в якоре урла передан person_uid
            // Это проскроллит экран до персоны, выделит ее и откроет сниппет с информацией
            $(document).ready(function(){
                $(".select-person").click(function(e) {
                    e.preventDefault();
                    selectPerson($(this));
                });

                selected_uid = window.location.hash.substring(1);
                if (selected_uid) {
                    $(".select-person[person-uid='"+selected_uid+"']").first().click();
                }
            });
        </script>
	</body>
</html>