{% import 'person_snippet.html' as ps %}
{% import 'photo_carousel.html' as pc %}

<nav id="snippet-for-{{person.uid}}" class="navbar navbar-default navbar-fixed-bottom person-snippet" style="display:none;">
    {% if context.privacy.is_access_denied() %}
        {{ ps.draw_private_person_snippet(user) }}
    {% else %}
        {{ ps.draw_person_snippet(person, context) }}
        {% if person.photos %}
            {{ pc.draw_photo_carousel('carousel-for-'+person.uid, person.photos, context.privacy) }}
        {% endif %}
    {% endif %}
</nav>