.carousel.full-screen {
    /*background-image: url(/static/carousel_background.jpg);*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel.full-screen > .carousel-inner  .item  img {
      margin: 0 auto;
      margin-top: 10%;
      max-height: 125%;
      max-width: 100%;
      position:relative;
      
}

/* для того чтобы скрыть скроллбар */
.carousel.full-screen  {
    overflow: hidden;
}
.carousel.full-screen .carousel-inner {
    overflow: auto;
    width: 105%;
    transform: translateX(-50%);
    left: 50%;
}
  
.carousel.full-screen > .carousel-extra-controls  {
    position: absolute;
    top: 0px;
    right: 0px;
}

.carousel.full-screen > .carousel-extra-controls > a {
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    margin: 10px;
    opacity: 0.5;
}

.carousel.full-screen > .carousel-extra-controls  > a:hover  {
    opacity: 0.9;
}

  
.my-img-container {
    position: relative;
    width: 100%;
    height: 80%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
        
.my-img-caption {
    /*display: none;*/
    position: relative;
    width: 100%;
    min-height: 20%;
    background: linear-gradient(to right,rgba(0,0,0,.0001) 0, rgba(0,0,0,.7) 20%, rgba(0,0,0,.7) 80%, rgba(0,0,0,0.0001) 100%);
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
        
.my-img-caption div {
    color:white;
    background: none;
    position: relative;
    max-width: 60%;
    text-align: center;
    margin-bottom: 45px;
}

.carousel.full-screen .item img:hover + .my-img-caption,
.carousel.full-screen .my-img-caption:hover  {
    display:flex;
}